<!--<div class="progress loop" *ngIf="isLoading"><progress></progress></div>-->
<div style="text-align: center;" *ngIf="isLoading">
  <span class="spinner spinner-inline">
      Loading...
  </span>
  <span>
      กรุณารอซักครู่...
  </span>
</div>

<clr-stack-view>
  <clr-stack-block>
    <clr-stack-label>ชื่อ {{ ptname }}</clr-stack-label>
    <clr-stack-content>HN: {{ hn }}</clr-stack-content>
  </clr-stack-block>

  <clr-stack-block [clrSbExpanded]="true">
    <clr-stack-label>วันที่ {{ vstdate }} {{ vsttime }}</clr-stack-label>
    <clr-stack-content>แผนก {{ department }}</clr-stack-content>
    <clr-stack-block>
      <clr-stack-label>ห้องตรวจ</clr-stack-label>
      <clr-stack-content>{{ spclty }}</clr-stack-content>
    </clr-stack-block>
    <clr-stack-block>
      <clr-stack-label>สิทธิการรักษา</clr-stack-label>
      <clr-stack-content>{{ pttype }}</clr-stack-content>
    </clr-stack-block>
    <clr-stack-block>
      <clr-stack-label>วินิจฉัย</clr-stack-label>
      <clr-stack-content>{{ diag }}</clr-stack-content>
    </clr-stack-block>
  </clr-stack-block>
</clr-stack-view>

<h3>เอกสารประกอบการรักษา ({{ images.length | number }} รายการ)</h3>
<div *ngIf="loadingImage">
  <span class="spinner spinner-inline">
    Loading...
  </span>
  <span>
      Loading...
  </span>
</div>
<div class="card-columns card-columns-4">
  <a href="javascript: void();" (click)="previewImage(image.url)" class="card clickable" *ngFor="let image of images">
     <div class="card-header">
                {{ image.type | imageType }}
            </div>
    <div class="card-img">
      <img [src]="image.url">
    </div>
    <div class="card-block">
      <p class="card-text">
        ชื่อไฟล์ <strong>{{ image.filename }}</strong>
      </p>
    </div>
  </a>
</div>