<button type="button" (click)="showUploader()" class="btn btn-primary">
  <clr-icon shape="upload-cloud" size="24"></clr-icon>
  อัปโหลดไฟล์
</button>

<div style="text-align: center;" *ngIf="isLoading">
    <span class="spinner spinner-inline">
      Loading...
  </span>
    <span>
      กรุณารอซักครู่...
  </span>
</div>

<clr-stack-view>
    <clr-stack-block>
        <clr-stack-label>ชื่อ {{ ptname }}</clr-stack-label>
        <clr-stack-content>HN: {{ hn }}</clr-stack-content>
    </clr-stack-block>

    <clr-stack-block [clrSbExpanded]="true">
        <clr-stack-label>วันที่ {{ vstdate }} {{ vsttime }}</clr-stack-label>
        <clr-stack-content>แผนก {{ department }}</clr-stack-content>
        <clr-stack-block>
            <clr-stack-label>ห้องตรวจ</clr-stack-label>
            <clr-stack-content>{{ spclty }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>สิทธิการรักษา</clr-stack-label>
            <clr-stack-content>{{ pttype }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>วินิจฉัย</clr-stack-label>
            <clr-stack-content>{{ diag }}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>

<h3>เอกสารประกอบการรักษา ({{ images.length | number }} รายการ)</h3>
<div class="card-columns card-columns-4">
    <div class="card" class="card clickable" *ngFor="let image of images">

        <div class="card-header">
            {{ image.type | imageType }}
        </div>
        <div class="card-img" (click)="previewImage(image.url)">
            <img [src]="image.url">
        </div>
        <div class="card-block">
            <p class="card-text">
                ชื่อไฟล์​ <strong>{{ image.filename }}</strong>
            </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-danger" (click)="removeImage(image.id)">
            ลบภาพ
        </button>
        </div>

    </div>
</div>


<clr-wizard #wizard (clrWizardOpenChanged)="resetStep()" [clrWizardClosable]="false" [clrWizardSize]="'lg'">
    <div class="wizard-title">อัปโหลดเอกสาร</div>
    <div class="alert alert-warning alert-sm" *ngIf="isError">
        <button type="button" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
        <div class="alert-item">
            <span class="alert-text">
              เกิดข้อผิดพลาด ไม่สามารถอัปโหลดไฟล์ได้
          </span>
        </div>
    </div>
    <div class="alert alert-success alert-sm" *ngIf="isSuccess">
        <button type="button" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
        <div class="alert-item">
            <span class="alert-text">
              อัปโหลดไฟล์เสร็จเรียบร้อยแล้ว
          </span>
        </div>
    </div>
    <clr-wizard-step [clrWizardStepId]="'step1'">เลือกประเภทเอกสาร</clr-wizard-step>
    <clr-wizard-step [clrWizardStepId]="'step2'">เลือกไฟล์ที่ต้องการ</clr-wizard-step>

    <clr-wizard-page [clrWizardPageNextDisabled]="!imageType">
        <form>
            <section class="form-block">
                <div class="form-group">
                    <label for="selects_1">เลือกประเภทเอกสารที่ต้องการ</label>
                    <div class="select">
                        <select id="selects_1" name="sl_type" [(ngModel)]="imageType" (change)="changeType()">
                  <option value="">เลือกประเภทไฟล์</option>
                    <option *ngFor="let item of docTypes" [value]="item.id">{{ item.id }} - {{ item.name }}</option>
                </select>
                    </div>
                </div>
            </section>
        </form>
    </clr-wizard-page>
    <clr-wizard-page>
        <div class="drag-n-drop-container" ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}"
            (onFileOver)="fileOverBase($event)">
            <h1>วางภาพลงที่นี่</h1>
            <label class="upload-button">
    <input type="file"
           class="hidden"
           ngFileSelect
           [options]="options"
           (onUpload)="handleUpload($event)">
    Browse
  </label>
        </div>
    </clr-wizard-page>
</clr-wizard>